<!DOCTYPE html>
{__NOLAYOUT__}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海尔词典接口开发文档</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__S__bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="__S__jsonFormater/jsonFormater.css">
    <link rel="stylesheet" href="__S__css/mama-api.css">

</head>
<body>


<script src="__S__js/jquery-1.12.4.js"></script>
<script src="__S__jsonFormater/jsonFormater.js"></script>


<div class="container">
    <div class="api-header">
        <div class="header-title">

            <h2>MaMa-API助手2.0</h2>
            <p>接口地址：http://192.168.1.138</p>
        </div>
        <div class="header-link">
            <a href="javascript:void(0);" id="add-api">添加API</a>
            <a href="">设置接口主地址</a>
            <a href="__SITE__">后台管理</a>

        </div>

    </div>
    <div class="row" id="api-main">
        <div class="col-md-2">

            <ul class="api-nav nav nav-pills nav-stacked">

                <li><a href="#">订单</a></li>
                <li><a href="#">商品</a></li>
                <li><a href="#">活动</a></li>
                <li><a href="#">代理商</a></li>
                <li><a href="#">用户</a></li>
                <li><a href="#">其他</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="api-body">
                <h3 class="text-center">订单接口</h3>

                <ul class="list-group ">

                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>
                                    <small>接口:order</small>
                                </p>
                                <p>
                                    <small>状态: <span class="label label-danger">修改中</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>接口:order</p>
                                <p>
                                    <small>状态: <span class="label label-success">已完结</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                </ul>
                <h3 class="text-center">订单接口</h3>

                <ul class="list-group ">

                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>
                                    <small>接口:order</small>
                                </p>
                                <p>
                                    <small>状态: <span class="label label-danger">修改中</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>接口:order</p>
                                <p>
                                    <small>状态: <span class="label label-success">已完结</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                </ul>
                <h3 class="text-center">订单接口</h3>

                <ul class="list-group ">

                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>
                                    <small>接口:order</small>
                                </p>
                                <p>
                                    <small>状态: <span class="label label-danger">修改中</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>接口:order</p>
                                <p>
                                    <small>状态: <span class="label label-success">已完结</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                </ul>
                <h3 class="text-center">订单接口</h3>

                <ul class="list-group ">

                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>
                                    <small>接口:order</small>
                                </p>
                                <p>
                                    <small>状态: <span class="label label-danger">修改中</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>接口:order</p>
                                <p>
                                    <small>状态: <span class="label label-success">已完结</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                </ul>
                <h3 class="text-center">订单接口</h3>

                <ul class="list-group ">

                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>
                                    <small>接口:order</small>
                                </p>
                                <p>
                                    <small>状态: <span class="label label-danger">修改中</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>接口:order</p>
                                <p>
                                    <small>状态: <span class="label label-success">已完结</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                </ul>
                <h3 class="text-center">订单接口</h3>

                <ul class="list-group ">

                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>
                                    <small>接口:order</small>
                                </p>
                                <p>
                                    <small>状态: <span class="label label-danger">修改中</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-3 list-header">

                                <h3>接口标题</h3>
                                <p>接口:order</p>
                                <p>
                                    <small>状态: <span class="label label-success">已完结</span></small>
                                </p>
                            </div>


                            <div class="col-md-9">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-md-2">请求参数:</label>
                                        <div class="col-md-10">

                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="user_id:用户名user_id:用户名user_id:用户名user_id:用户名">
                                           <span class="input-group-btn">
                                              <button class="btn btn-success btn-sm" type="button">
                                                  Go!
                                              </button>
                                           </span>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm request-param">
                                        <label class="control-label col-md-2">请求说明:</label>
                                        <div class="col-md-10">
                                            <div class="param-div">
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>
                                                <span>user_id:用户名</span>


                                            </div>
                                        </div>
                                    </div>


                                </form>


                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer " style="padding: 10px 0;display: none;border-top: solid 1px #dddddd;">
        <div class="container">
            <p class="text-muted" style="margin: 0"><a href="__SITE__" target="_blank">MaMa-2016</a>&nbsp;|&nbsp;API调试助手2.0</p>
        </div>
    </footer>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="json">
                <textarea class="form-control" id="" cols="30" rows="10"></textarea>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="add-api-list" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="padding: 20px 10px">

            <form class="form-horizontal" role="form">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="col-sm-2 control-label">api名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname"
                               placeholder="请输入api名称">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="lastname" class="col-sm-2 control-label">api</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname"
                               placeholder="请输入主接口后面的接口参数">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label  class="col-sm-2 control-label">默认请求参数</label>
                    <div class="col-sm-10">
                        <table class="table table-condensed">

                            <thead>
                            <tr>
                                <th>参数名</th>
                                <th>参数值</th>
                                <th>参数说明</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="add-api-tbody">
                            <tr>
                                <td> <input type="text" class="form-control" placeholder="请输入参数名"></td>
                                <td> <input type="text" class="form-control" placeholder="请输入参数值"></td>
                                <td> <input type="text" class="form-control" placeholder="请输入参数说明"></td>
                                <td> <a href="" class="btn btn-danger btn-sm">删除</a></td>
                            </tr>

                            </tbody>
                        </table>

                        <a href="" class="btn btn-info btn-sm">添加参数</a>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">添加</button>
                    </div>
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="__S__bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        //footer:margin-top
        var $prevDiv = $("#api-main");
        var $footer = $("footer");
        var all = $(window).height();//是文档窗口高度
        var top = $prevDiv.offset().top;//是标签距离顶部高度
        var scroll = $(document).scrollTop();//是滚动条高度
        var height = $prevDiv.height();//是标签高度
        var f = $footer.height();
        //你要的高度
        var margin_top = all - height - (top - scroll) - f - 20;
        if (margin_top > 0) {
            $footer.css('margin-top', margin_top);
        } else {
            $footer.css('margin-top', '10px');
        }
        $footer.fadeIn("slow");


        //添加api按钮
        var api_modal=$('#add-api-list');
        $('#add-api').on('click',function(){

            console.log('1111111111111');
            api_modal.modal();

        });




        //go
        $('.btn').each(function () {
            var $this = $(this);
            $this.on('click', function () {
                var fd = new FormData();
                var api = $this.attr('data-api'),
                        param = $this.attr('data-param'),
                        value = $this.attr('data-value');
                if (param) {
                    var p_str = new Array(); //定义一数组
                    var v_str = new Array(); //定义一数组
                    p_str = param.split(","); //字符分割
                    v_str = value.split(","); //字符分割
                    for (var i = 0; i < p_str.length; i++) {
                        fd.append(p_str[i], v_str[i]);
                    }
                }

                $.ajax({

                    type: 'post',
                    url: '__SITE__' + api,
                    data: fd,
                    dataType: 'text',
                    success: function (msg) {

                        $('.json>textarea').empty().append(msg);
                        var options = {
                            dom: '.json' //对应容器的css选择器
                        };
                        var jf = new JsonFormater(options); //创建对象
                        jf.doFormat(msg); //格式化json

                        $('#myModal').modal();
                    },
                    processData: false,  // 告诉jQuery不要去处理发送的数据
                    contentType: false   // 告诉jQuery不要去设置Content-Type请求头

                });

            });
        });

    });
</script>


</body>
</html>